.project
.classpath
.settings/
.springBeans
LOG_FILE_IS_UNDEFINED
/.idea/libraries
/.idea/workspace.xml
/parent/target
/spring-security/target
/apache-shiro/target
/spring-integration/target
/spring-session/target

